* {
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --clr-main: #ffb640;
    --font-size: 16px;
    --border-radius: 0.2em;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS';
    font-size: var(--font-size);
    background-color: black;
}


.hamburgerMenu {
    display: none;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.menu-icon-change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-3.5px, 3.5px);
    transform: rotate(-45deg) translate(-3.5px, 3.5px);
    background-color: var(--clr-main);
}

.menu-icon-change .bar2 {
    opacity: -1;
}

.menu-icon-change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, 8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: var(--clr-main);
}

.showMenuItems {
    transition: visibility 0s, opacity 0.5s linear;
}

.openedMenu {
    display: none;
    background-color: black;
    position: relative;
    height: 100vh;
    top: 8vh;
}

.menuContainer {
    margin-top: 60%;
}

.menuItems {
    margin-top: 10px;
}

.menuItems a {
    list-style: none;
    text-align: center;
    text-decoration: none;
    font-size: xx-large;
    color: white;
    margin-left: 35%;
    margin-bottom: 50px;
    letter-spacing: 1px;
}

.menuItems .active {
    color: var(--clr-main);
}

.nav-bar {
    position: fixed;
    width: 100vw;
    padding-top: 1em;
    margin-top: 0em;
    padding-bottom: 1em;
    background-color: black;
    /* set to 2 - so that birdname 'bName' lies 1 layer below nav bar */
    z-index: 1;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    height: 2.5em;
    padding: 0;
    text-decoration: none;
    overflow: hidden;
}

.nav-bar ul li {
    padding-right: 2em;
    list-style: none;
}

.nav-bar ul li a {
    text-decoration: none;
    color: white;
}

.nav-bar ul li.active a {
    font-weight: bolder;
    color: #ffb640;
}

.nav-bar ul li:first-child {
    margin-right: auto;
    margin-left: 2em;
}

.logo {
    width: 30px;
    height: 50px;
}

/* images */

.wrapper-grid {
    margin-top: 3em;
    position: relative;
    column-count: 4;
    padding: 5px;
    column-gap: 5px;
    overflow: hidden;
}

/* Create four equal columns that sits next to each other */

.container {
    display: inline;
    overflow: hidden;
}

.container img {
    transition: 0.25s ease-in-out;
    width: 100%;
    /* height: 100%; */
}

/* For Bird Name */
.container  div {
    position: absolute;
    transform: translate(5px,-30px);
}

.container  div p {
    color: white;
    text-align: center;
    z-index: 99;
    display: none;
    margin: 0;
    font-style: italic;
}


/* dim the image on hover & highlight the text */
.container:hover div p{
    filter: brightness(100%);
    transition: 0.5s ease;
    display: block;
}

.container:hover img{
    filter: brightness(50%);
    transition: 0.5s ease-out;
}

/* zoom and slide */

#image-view-navs {
    position: fixed;
    top: 0em;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 1.8), rgba(0, 0, 0, 1.5));
    width: 100%;
    cursor: pointer;
    display: none;
}

.image-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x: visible;
    display: none;
}

.image-box img {
    width: 100%;
    height: 90vh;
    position: relative;
    text-align: center;
    object-fit: contain;
}

.arrow {
    width: 40px;
    height: 40px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    position: fixed;
    filter: brightness(40%);
    top: 50%;
    cursor: pointer;
}

.arrow-right {
    transform: rotate(45deg);
    right: 2%;
}
.arrow-right:hover {
    filter: brightness(100%);
    width: 50px;
    height: 50px;
}


.arrow-left {
    transform: rotate(-135deg);
    left: 2%;
}
.arrow-left:hover {
    filter: brightness(100%);
    width: 50px;
    height: 50px;
}

#image-view-close {
    position: fixed;
    z-index: 3;
    left: 90%;
    top: 10%;
    cursor: pointer;
    font-size: xx-large;
    color: white;
    filter: brightness(50%);
    display: none;
}

#image-view-close:hover {
    filter: brightness(100%);
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 820px) and (min-width: 768px) {
    .wrapper-grid {
        column-count: 3;
    }
    #image-view-close {
        top: 3%;
        filter: brightness(70%);
        left: 93%;
    }
}

@media screen and (max-width: 425px) {
    .wrapper-grid {
        column-count: 1;
    }
    #image-view-close {
        top: 3%;
        filter: brightness(70%);
        left: 90%;
    }

    .flexMenu {
        display: none;
    }

    .hamburgerMenu {
        display: block;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 412px) {
    .wrapper-grid {
        column-count: 1;
    }
    #image-view-close {
        top: 3%;
        filter: brightness(70%);
        left: 90%;
    }

    .flexMenu {
        display: none;
    }

    .hamburgerMenu {
        display: block;
    }
}