<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/about.css">
    <title>PKP</title>
</head>


<body>
    <div class="nav-bar">
        <ul>
            <li><img class="logo" src="/static/assets/images/camera.png" /></li>
            <li><a href="/home">Home</a></li>
            <!-- <li><a href="/blogs">Blogs</a></li> -->
            <li><a href="/places">Gallery</a></li>
            <li class="active"><a href="/about">About</a></li>
        </ul>
    </div>


    <div class="wrapper-grid">
    <div class="container">
        <h1>Hi! I'm Pavan</h1>
        <p>I would love to share with you all, my captures of the beautiful birds and hope to inspire a visitor of this site :)</p>
        <p1>
            I am a devops engineer and hobbyist photographer based in Bangalore.
            I started out as a hobbyist photographer with the urge to understand, watch and capture the behaviours of as many bird species as possible.
            To share my enjoyment and sightings of these cuties, have created this simple website as a medium for showcase.
        </p1>
    </div>
    </div>
</body>

</html>