<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/blogs.css">
    <title>PKP</title>
</head>


<body class=background>

    <div class="nav-bar">
        <ul>
            <li><img class="logo" src="/static/assets/images/camera.png" /></li>
            <li> <a href="/home">Home</a></li>
            <li class="active"> <a href="/blogs">Blogs</a></li>
            <li> <a href="/places">Gallery</a></li>
            <li> <a href="/about">About</a></li>
        </ul>
    </div>



    <div class="wrapper-grid">
        <!-- {{range .Blogs}} -->
        <div class="container">
            <!-- <p class="date">{{.BlogDate}}</p> -->
            <p class="date">25 Sep 2021</p>
            <!-- <h2>{{.BlogTitle}}</h1> -->
                <!-- {{.BlogContent}} -->
            <h2> My Blog 1</h1>
                This is a great space to write long text about your company and your services. You can use this
                space to go into a little more detail about your company. Talk about your team and what services you
                provide. Tell your visitors the story of how you came up with the idea for your business and what
                makes you different from your competitors. Make your company stand out and show your visitors who
                you are. Tip: Add your own image by double clicking the image and clicking Change Image
        </div>
        <div class="container">
            <p class="date"> 25 Sep 2021</p>
            <h2> My Blog 1</h1>
                This is a great space to write long text about your company and your services. You can use this
                space to go into a little more detail about your company. Talk about your team and what services you
                provide. Tell your visitors the story of how you came up with the idea for your business and what
                makes you different from your competitors. Make your company stand out and show your visitors who
                you are. Tip: Add your own image by double clicking the image and clicking Change Image
        </div>
        <div class="container">
            <p class="date"> 25 Sep 2021</p>
            <h2> My Blog 1</h1>
                This is a great space to write long text about your company and your services. You can use this
                space to go into a little more detail about your company. Talk about your team and what services you
                provide. Tell your visitors the story of how you came up with the idea for your business and what
                makes you different from your competitors. Make your company stand out and show your visitors who
                you are. Tip: Add your own image by double clicking the image and clicking Change Image
        </div>
        <div class="container">
            <p class="date"> 25 Sep 2021</p>
            <h2> My Blog 1</h1>
                This is a great space to write long text about your company and your services. You can use this
                space to go into a little more detail about your company. Talk about your team and what services you
                provide. Tell your visitors the story of how you came up with the idea for your business and what
                makes you different from your competitors. Make your company stand out and show your visitors who
                you are. Tip: Add your own image by double clicking the image and clicking Change Image
        </div>
        <div class="container">
            <p class="date"> 25 Sep 2021</p>
            <h2> My Blog 1</h1>
                This is a great space to write long text about your company and your services. You can use this
                space to go into a little more detail about your company. Talk about your team and what services you
                provide. Tell your visitors the story of how you came up with the idea for your business and what
                makes you different from your competitors. Make your company stand out and show your visitors who
                you are. Tip: Add your own image by double clicking the image and clicking Change Image
        </div>
        <div class="container">
            <p class="date"> 25 Sep 2021</p>
            <h2> My Blog 1</h1>
                This is a great space to write long text about your company and your services. You can use this
                space to go into a little more detail about your company. Talk about your team and what services you
                provide. Tell your visitors the story of how you came up with the idea for your business and what
                makes you different from your competitors. Make your company stand out and show your visitors who
                you are. Tip: Add your own image by double clicking the image and clicking Change Image
        </div>

        {{end}}
    </div>

</body>

</html>