<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <title>PKP</title>
</head>

<script src="/scripts/menu.js" async defer></script>

<body id="bimg">
    <div class="nav-bar">
        <ul>
            <li><img class="logo" src="/static/assets/images/signs/16.png" /></li>
            <li class="active flexMenu"><a href="/home">Home</a></li>
            <li class="flexMenu"><a href="/places">Gallery</a></li>
            <li class="flexMenu"><a href="/about">About</a></li>

            <li class="hamburgerMenu">
                <div onclick="homeMenu(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                <div>
            </li>
        </ul>
    </div>

    <div class="openedMenu" id="openedMenu" style="display: none;">
        <div class="menuContainer">
            <div class="menuItems"><a class="active" href="/home">Home</a></div>
            <div class="menuItems"><a href="/places">Gallery</a></div>
            <div class="menuItems"><a href="/about">About</a></div>
        </div>
    </div>

    <div class="wrapper-grid" id="rest">
        <h1><img class="main-logo" src="/static/assets/images/signs/3.png"/><h1>
    </div>
</body>

</html>