<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/places.css">
    <title>PKP</title>
</head>


<body>
    <div class="nav-bar">
        <ul>
            <li><img class="logo" src="/static/assets/images/camera.png" /></li>
            <li> <a href="/home">Home</a></li>
            <!-- <li> <a href="/blogs">Blogs</a></li> -->
            <li class="active"> <a href="/places">Gallery</a></li>
            <li> <a href="/about">About</a></li>
        </ul>
    </div>

    <div class="wrapper-grid">
        {{ range .Place}}
        <div class="container" id="{{.ID}}" onclick="window.location.href='/places/{{.ShortName}}'"
            style="background-image: url(/static/assets/images/places{{.BGImg}}); background-position: center; background-repeat: no-repeat; background-size: cover;">
            <p class="date">{{.UpdatedAt.Format "2006 Jan 02" }}</p>
            <h2>{{.Name}}</h2>
        </div>
        {{end}}
    </div>

</body>

</html>