<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/places.css">
    <title>PKP</title>
</head>


<body class=background>

    <div class="nav-bar">
        <ul>
            <li><img class="logo" src="/static/assets/images/camera.png" /></li>
            <li> <a href="/home">Home</a></li>
            <li> <a href="/blogs">Blogs</a></li>
            <li class="active"> <a href="/places">Gallery</a></li>
            <li> <a href="/about">About</a></li>
        </ul>
    </div>



    <div class="wrapper-grid">
        <div class="container" id="bangalore" onclick="window.location.href='/places/bangalore'">
            <!-- <a href="/places/bangalore" class="fill-div"></a> -->
            <p class="date">25 Sep 2021</p>
            <h2>Bangalore</h1>
        </div>
        <div class="container" id="gaganachukki" onclick="window.location.href='/places/gaganachukki'">
            <!-- <a href="/places/bangalore" class="fill-div"></a> -->
            <p class="date"> 25 Sep 2021</p>
            <h2>Gaganachukki</h1>
        </div>
        <div class="container" id="ganeshGudi" onclick="window.location.href='/places/ganeshGudi'">
            <!-- <a href="/places/bangalore" class="fill-div"></a> -->
            <p class="date"> 25 Sep 2021</p>
            <h2>Ganesh Gudi</h1>
        </div>
        <div class="container" id="valleySchool" onclick="window.location.href='/places/valleySchool'">
            <!-- <a href="/places/bangalore" class="fill-div"></a> -->
            <p class="date"> 25 Sep 2021</p>
            <h2>Valley School</h1>
        </div>
    </div>

</body>

</html>