* {
    box-sizing: border-box;
    overflow: hidden;
}

:root {
    --clr-main: #ffb640;
    --font-size: 16px;
    --border-radius: 0.2em;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS';
    font-size: var(--font-size);
    background-color: black;
}

.hamburgerMenu {
    display: none;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.menu-icon-change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-3.5px, 3.5px);
    transform: rotate(-45deg) translate(-3.5px, 3.5px);
    background-color: var(--clr-main);
}

.menu-icon-change .bar2 {
    opacity: -1;
}

.menu-icon-change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, 8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: var(--clr-main);
}

.showMenuItems {
    transition: visibility 0s, opacity 0.5s linear;
}

.openedMenu {
    display: none;
    background-color: black;
    position: relative;
    height: 100vh;
    top: 8vh;
}

.menuContainer {
    margin-top: 60%;
}

.menuItems {
    margin-top: 10px;
}

.menuItems a {
    list-style: none;
    text-align: center;
    text-decoration: none;
    font-size: xx-large;
    color: white;
    margin-left: 35%;
    margin-bottom: 50px;
    letter-spacing: 1px;
}

.menuItems .active {
    color: var(--clr-main);
}

.nav-bar {
    position: fixed;
    width: 100vw;
    padding-top: 1em;
    margin-top: 0em;
    padding-bottom: 1em;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    height: 2.5em;
    padding: 0;
    text-decoration: none;
}

.nav-bar ul li {
    padding-right: 2em;
    list-style: none;
}

.nav-bar ul li a {
    text-decoration: none;
    color: white;
}

.nav-bar ul li.active a {
    font-weight: bolder;
    color: #ffb640;
}

.nav-bar ul li:first-child {
    margin-right: auto;
    margin-left: 2em;
}

.logo {
    width: 30px;
    height: 50px;
}

/* about me */

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .content img {
    height: auto;
    width: 500px;
    max-width: 100%;
}

.about {
    width: 600px;
    padding: 0 10px;
    max-width: 100%;
    color: white;
}

.content {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.about h1 {
    color: var(--clr-main);
    font-size: 1.7em;
}

.about p {
    letter-spacing: 1px;
}

.about p1 {
    letter-spacing: 1px;
}

@media screen and (max-width: 1180px) {
    .wrapper {
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }

    .flexMenu {
        display: none;
    }
    .hamburgerMenu {
        display: block;
    }
}

@media screen and (max-width: 650px) {
    .flexMenu {
        display: none;
    }

    .hamburgerMenu {
        display: block;
    }
    
    .about h1 {
        color: var(--clr-main);
        font-size: 1.5em;
    }

    .about p {
        font-size: 0.95em;
        letter-spacing: 1px;
    }

    .about p1 {
        font-size: 0.95em;
        letter-spacing: 1px;
    }
}