@font-face {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS'), url('/static/fonts/Trebuchet-MS.woff') format('woff');
}


@font-face {
    font-family: 'Trebuchet MS Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS Italic'), url('/static/fonts/Trebuchet-MS-Italic.woff') format('woff');
}