* {
    overflow-x: hidden;
}

:root {
    --clr-main: #ffb640;
    --font-size: 16px;
    --border-radius: 0.2em;
}

.menu {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin: 35px, 0;
    display: none;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS';
    font-size: var(--font-size);
    background-color: black;
    color: white;
}

.nav-bar {
    position: fixed;
    width: 100vw;
    padding-top: 1em;
    margin-top: 0em;
    padding-bottom: 1em;
    background-color: black;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    height: 2.5em;
    padding: 0;
    text-decoration: none;
    overflow: hidden;
}

.nav-bar ul li {
    padding-right: 2em;
    list-style: none;
}

.nav-bar ul li a {
    text-decoration: none;
    color: white;
}

.nav-bar ul li.active a {
    font-weight: bolder;
    color: #ffb640;
}

.nav-bar ul li:first-child {
    margin-right: auto;
    margin-left: 2em;
}

.logo {
    width: 80px;
    height: 50px;
}

.wrapper-grid {
    display: grid;
    margin-top: 2em;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0em;
    column-gap: 1em;
    margin: 0.5em;
    margin-top: 3em;
}

.container {
    cursor: pointer;
    margin-top: 2em;
    background-color: rgba(123, 122, 122, 0.234);
    border-radius: var(--border-radius);
    padding: 1em;
    border-top: 4px solid var(--clr-main);
    height: 50vh;
}

.container h2 {
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

.date {
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 0.5em;
    margin-top: 0;
}

@media screen and (max-width:700px) {
    .wrapper-grid {
        grid-template-columns: 1fr;
    }
    /* .container h2 {
        font-size: 15em;
    } */
}

/* TODO */

/* dim the places on hover */

/* causes image to pop up hence closing it for now - ref- sticky nav */

.container:hover {
    /* filter: brightness(70%); */
    /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)); */
    transition: all 0.5s ease;
}

.SA img {
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -ms-transition: all 1s ease;
    /* IE 9 */
    -o-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
}

.SA:hover {
    -webkit-transform: scale(1.01);
    /* Safari and Chrome */
    -moz-transform: scale(1.01);
    /* Firefox */
    -ms-transform: scale(1.01);
    /* IE 9 */
    -o-transform: scale(1.01);
    /* Opera */
    transform: scale(1.01);
}