<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PKP Admin</title>
</head>

<body>
    <h1>Update Wildlife Thumbnail</h1>
    <form enctype="multipart/form-data" action="{{ .Host }}/v1/place/wildlife/update" method="PATCH">
        <label for="image">New Place Thumbnail:</label>
        <input type="file" id="image" name="image" accept="image/*"><br><br>

        <label for="id">Place ID:</label>
        <input type="text" id="id" name="id"><br><br>

        <label for="password">Key</label>
        <input type="password" id="password" name="password"><br><br>
        
        <input type="submit" value="Upload">
    </form>
</body>

</html>