<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home_page.css">
    <title>PKP</title>
</head>

<body>

    <div class="main">
        <nav class="navigation">
            <img class="icon" src="/static/assets/images/camera.png" />
            <ul>
                <li> <a href="#">Home</a></li>
                <li> <a href="#">About</a></li>
                <li> <a href="#">Blog</a></li>
                <li> <a href="#">Places</a></li>
                <li> <a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="main-content">
            <h1>Pavan Kumar</h1>
            <p>photography</p>
        </div>
    </div>
</body>
<footer class="main-footer">
    <div class="main-footer-container">
        <p>© 2021 Pavan Kumar</p>
    </div>
</footer>
</html>