<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/places/bangalore.css">
    <title>PKP</title>
</head>


<body class=background>
    <div class="nav-bar">
        <ul>
            <li><img class="logo" src="/static/assets/images/camera.png" /></li>
            <li> <a href="/home">Home</a></li>
            <li> <a href="/blogs">Blogs</a></li>
            <li class="active"> <a href="/places">Places</a></li>
            <li> <a href="/about">About</a></li>
        </ul>
    </div>
    <div class="wrapper-grid">
        {{ range .Bird}}
        <div class="container images">
            <img src="/static/assets/images/{{.ID}}.jpg">
        </div>
        {{end}}
    </div>

    <!-- zoom and slide -->
    <div class="image-view"></div>

    <div class="image-box">
        <div id="prev-btn"></div>
        <div id="next-btn"></div>
    </div>

    <script src="/scripts/image_view.js" async defer></script>
</body>

</html>